
.Contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d9d9d9d0;
    max-width: 500px;
    border-radius: 70px;
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

form {
    padding: 2.5rem;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    position: relative;
    }


.Salir {
    align-self: flex-end;
    position: absolute;
    top: 15px;
    right: 15px;
    background: linear-gradient(to right, rgb(219, 124, 162), rgb(216, 131, 121)) ;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 0px 15px 1px 10px;
}

.TituloAcceso {
    color: #8c7868;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    -webkit-text-stroke: 2px #000000;
}

#correo,
#password,
#username {
    width: 100%;
    padding: 20px 20px 20px 30px;
    font-size: 17px;
    border: 1px solid #979797;
    border-radius: 12px;
    background-color: #f4f2ef;
    transition: border-color 0.3s ease;
    }

/* Botón para continuar */
.Continuar {
    background: linear-gradient(to right, rgb(219, 124, 162), rgb(216, 131, 121));
    width: 80%;
    color: white;
    font-size: 20px;
    padding: 12px 60px;
    border-radius: 15px;
    transition: transform 0.3s;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 2px 7px #8a8787;
    margin: 0 auto;
    display: block;
}

.Continuar:hover {
    transform: scale(1.05);
}

.Icono {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    color: #ba896b;
    font-size: 21px;
    }

.IconoMostrar {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#numero {
    max-width: 75px;
    height: 70px;
    margin: 5px;
    color: #000000;
    border-radius: 25px;
    background-color: #8a8787e4;
    font-size: 30px;
    text-align: center;
}

/* Campos de entrada */
.Campo {
    display: flex;
    align-items: center;
    background-color: rgba(154, 143, 146, 0.15);
    border-radius: 10px;
    padding: 2px 10px;
    margin: 10px 0 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.Campo input {
    background: transparent;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.CampoNumero {
    display: flex;
    align-items: center;
    background-color: rgba(154, 143, 146, 0.15);
    border-radius: 10px;
    margin: 10px;
    position: relative;
}

.Opciones {
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5d5c5c;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Opciones a {
    color: #d27c7c;
    text-decoration: none;
    font-size: 17px;
}

.Opciones a:hover {
    text-decoration: underline;
}


/* Texto inferior de registro */
.Registro {
    margin-top: 15px;
    color: #444;
    font-size: 16px;
    text-align: center;
}

.Registro a {
    color: #ce6767;
    text-decoration: none;
    font-weight: bold;
}

.Registro a:hover {
    color: #a85454;
}

/* Cambiar el fondo para que no se vuelva blanco al escribir*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.fondo-confirmacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.ventana-confirmacion {
    background-color: #ffffffc2;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    width: 400px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    position: relative;
}

.cerrar-confirmacion {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.titulo-confirmacion {
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
}

.mensaje-error {
  color: red;
  font-size: 0.9rem;
  margin: -10px 0 10px 40px;
}

.invalido {
  border: 1px solid red;
}


.boton-salir {
    padding: 10px 40px;
    background: linear-gradient(to right, #f5a3b8, #e36b67);
    border: none;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.boton-salir:hover {
    transform: scale(1.05);
}

.salirboton {
    position: relative;
    left: 50%;
    bottom: 22px;
    background: linear-gradient(to right, rgb(223, 132, 169), rgb(191, 100, 90)) ;
    color: #000000;
    font-size: 25px;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 0px 15px 1px 10px;
}

.EstiloAceptartyc {
    width: 100%;
    font-size: 17px;
    color: #ccc;
    margin-bottom: 20px;
    gap: 55px;
}


/* ~~~~~~~ Estilos para el banner de cookies ~~~~~~~ */
.FondoCookies {
    position: relative;
    left: 200px;
    width: fit-content;
    background: #ababab;
    border-radius: 15px;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.VentanaC {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 480px;
    font-size: 14px;
    flex-wrap: wrap;
    text-align: left;
}

.IconCookie {
    font-size: 50px;
    color: #d08951;
}

.BotonesCookies {
    padding-left: 80px;
}

.BotonesCookies button {
    margin-left: 30px;
    padding: 10px 25px;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
}

.BotonesCookies button:hover {
    color: #1f1e1e;
    border-color: #717171;
}
.TextoTerminos {
  color: black;
}
.Aceptar  {
    background: #ff9999;
    color: white;
    border: 2px solid #ffffff;
}

.Rechazar {
    background: #ffffff;
    color: #ff9999;
    border: 2px solid #ff9999;
}

.EnfoqueCookies {
    color: #000000;
}

.InfoCookies {
    color: #343333;
}


/*Estilo cuando hay error */
input:invalid {
    border-color: #dc3545;
}

.is-invalid {
    border: 2px solid #d63c4b;
    background-color: #f9d8db;
}

.invalid-feedback {
    color: #c6414e;
    font-size: 15px;
    text-align: center;
}
