* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 101, 103, 0.722);
    max-width: 450px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(147, 147, 146);
    -webkit-text-stroke: 1px #262525;
    padding: 20px;
    margin: auto;
}

.Salir {
    align-self: flex-end;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.IniciarSesion {
    color: #fff;
    margin-bottom: 15px;
    font-size: 24px;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}


a.Contenedor {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

a:hover.Contenedor {
    text-decoration: underline;
}
