.categorias {
  margin-top: 40px;
  padding-top: 20px;
  margin-left: 455px;
  padding-top: 20px;
  width: 550px;
  height: 110px;
  background-color: #b8875b;
  display: flex;
  border-radius: 27px;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
}

.recuadro-categoria {
  padding-left: 20px;
  display: flex;
  justify-content: space-between ;
  gap: 50px;
  width: auto;
  height: auto;
}




.animacion {
  background-color: #b8875b;
  cursor:  pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.animacion:hover {
  background-color: #be9979;
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}