
.categorias {
  margin-top: 40px;
  padding-top: 20px;
  margin-left: 455px;
  padding-top: 20px;
  width: 550px;
  height: 110px;
  background-color: #b8875b;
  display: flex;
  border-radius: 27px;
  justify-content: space-between;
  text-align: center;
  color: rgb(47, 31, 31);
}

.recuadro-categoria {
  padding-left: 20px;
  display: flex;
  justify-content: space-between ;
  gap: 50px;
  width: auto;
  height: auto;
}


.animacion-categoria {
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s;
  }


.animacion-categoria:hover {
  color: rgb(75, 50, 50);
  transform: scale(1.1);
  background-color: #e5c3a6;
}

.nom-categoria{
  color: rgb(47, 31, 31);
  font-size: 19px;
}

.nom-categoria:hover{
  color: rgb(75, 50, 50);;
  cursor: pointer;
  transform: scale(1.1);
}
