.estado-pedido {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  text-align: center;
  margin: 20px auto; /* Esto lo centra horizontalmente */
  width: fit-content;
}

/* Colores según el estado */
.estado-pendiente {
  background-color: #fff3cd;
  color: #856404;
}

.estado-enviado {
  background-color: #d1ecf1;
  color: #0c5460;
}

.estado-entregado {
  background-color: #d4edda;
  color: #155724;
}

.estado-desconocido {
  background-color: #f8d7da;
  color: #721c24;
}

