
.contenedor {
  max-width: 400px;
  margin: 3rem auto;
  background-color: #fff0e6;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.avatar {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.guardar-btn {
  width: 100%;
  padding: 12px;
  margin-top: 1rem;
  background-color: #b74d1c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.guardar-btn:hover {
  background-color: #a24218;
}
