
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
      background-image: url("../images/fondo.jpg");
}

.sobre {
  color: #2a150b;
}

.objetivo {
  color: #5c321d;
}

.destacados{
  margin-left: 20%;
}

.frase-logo{
  display: flex;
  justify-content: space-evenly;
}

.texto-slogan{
  text-align: justify;
}



h3{
  text-align: center;
  font-size: 47px;
  margin-top: 30%;
}











