/*estilo para el carrusel del home*/

.carrusel-centralizado{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  max-width: 100%;
  justify-content: center;
}
.boton-carrusel{
  background-color: #8b5e3c;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.boton-carrusel:hover {
  background-color: #a26e46;
}

.catalogo-deslizar{
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  background-color: #c29b79a6;
  border-radius: 15px;
  width: 80%;
}

.catalogo-deslizar::-webkit-scrollbar {
  display: none;
}

/* Carrusel destacados */
.contenedor-carrusel-centralizado {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  max-width: 100%;
  justify-content: center;
}

.btn-carrusel {
  background-color: #8b5e3c;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.btn-carrusel:hover {
  background-color: #a26e46;
}

.catalogo-scroll {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  background-color: #c99e78aa;
  border-radius: 15px;
  width: 80%;
}

.catalogo-scroll::-webkit-scrollbar {
  display: none;
}


.recuadro-informacion {
  margin-left: 32%;
  width: 610px;
  height: 250px;
  background-color: #c6956ae9;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  transition: all;
  transition: transform 0.3s;
}


.recuadro-informacion:hover {
  transform: scale(1.09);
}

.imagen-mostrador{
  border-radius: 25px;
  margin-top: 20px;
  transition: transform 0.3s;
}

.imagen-mostrador:hover {
  transform: scale(1.2);
}