
.inicio-fondo {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contenedor de las dos opciones */
.opciones-inicio {
  display: flex;
  gap: 100px;
}

/* Cada opci贸n con imagen + bot贸n */
.opcion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Marco o borde de fondo detr谩s de la imagen */
.borde {
  background-color: #d4a373;
  width: 220px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.borde:hover {
  transform: scale(1.05);
}

/* Imagen tipo carta */
.imagen-carta {
  width: 190px;
  height: 160px;
  border-radius: 20px;
  background-image: url("../images/Carta.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Imagen  estado */
.imagen-estado{
  width: 170px;
  height: 170px;
  background-image: url("../images/EstadosPedidos.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
/* Imagen de panes */
.imagen-panes {
  width: 190px;
  height: 160px;
  background-image: url("../images/Panes.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Bot贸n debajo del borde */
.opcion button {
  margin-top: 19px; /*  Separaci贸n respecto al borde */
  background-color: #d4a373;
  color: white;
  border: none;
  padding: 14px 24px;
  font-size: 20px;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.opcion button:hover {
  background-color: #b08968;
}
