
.contenido, .estados-body, .contenedor-detalles{
  justify-items: center;
  text-align: center;
}

.pedido-container {
  background-size: cover;
  padding: 2rem;
  text-align: center;
  justify-content: center;
}

.titulo {
  background-color: #d49e7d;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 12px;
  width: fit-content;
  margin: 0 auto 2rem auto;
  clip-path: polygon( /* Forma con piquitos a los extremos */
  0% 0%, 6% 50%, 0% 100%,
  100% 100%, 94% 50%, 100% 0%
  );

  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  border: 3px solid #ecdfd0;
  transition: transform 0.3s ease;
}

table {
  width: 70%;
  border-collapse: collapse;
  background-color: #f0e6dd;
  border-radius: 12px;
  overflow: hidden;
  font-family: sans-serif;
  margin: 10px;
}

/* Encabezado */
.th th {
    background-color: #d49e7d;
    color: white;
    padding: 0.8rem;
}


/* Filas */
.td {
  padding: 100px;
  text-align: center;
  color: #000000;
}

.tr td {
  padding: 10px;
}

.tr th {
  margin: 80px;
  size: 12px;
}

.numero_pedido {
  font-weight: bold;
  color: #000000;
}

/* Botones */
.boton-ver,
.boton-detalle {
  background-color: #d1a58a;
  border: none;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.boton-ver:hover,
.boton-detalle:hover {
  background-color: #b57f60;
}
