.recuadro-experiencia {
    background-color:#f2be7ea0  ;
    border-radius: 15px;
}
.contenedor-encuesta {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 15px;
    padding-left: 25px;
}
.tamaño-calificacion {
    width: 125px;
    height: auto;
}

.contenedor-input {
    margin-left: 60px;
    width: 500px;
    background-color:#BE9B63;
    border-radius: 20px;
    text-align: center;
}

.input-defecto {
    border: none;
    margin-left: 50px;
    background-color: #f0b9755c;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recuadro-encuesta {
    margin-left: 375px;
    width: 50%;
    background: linear-gradient(to right,#764d1a,#d5ad7e);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
 }

.recuadro-informacion {
    background-color: #E0C394;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    color: black;
    margin-left: 37%;
}

.boton-siguiente {
     background-color: #EA9B94;
     margin-left: 40%;
     margin-top: 25px;
     width: 300px;
     height: 50px;
     border-radius: 10px;



}

.boton-siguiente:hover {
    background-color: #ee918b;
    cursor: pointer;
}



.estilo-titulo {
    text-align: center;
    color: black;
}