
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
      background-image: url("../images/fondo.jpg");
}


.recuadro-informacion {
  margin-left: 32%;
  width: 610px;
  height: 250px;
  background-color: #c6956ae9;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

.sobre {
  color: #2a150b;
}

.objetivo {
  color: #5c321d;
}

.destacados{
  margin-left: 20%;
}

.frase-logo{
  display: flex;
  justify-content: space-evenly;
}

.texto-slogan{
  text-align: justify;
}

.imagen-mostrador{
  border-radius: 25px;
  margin-top: 20px;
}

h3{
  text-align: center;
  font-size: 47px;
  margin-top: 30%;
}











