
.carrusel-centralizado{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  max-width: 100%;
  justify-content: center;
  color: white;
  font-size: larger;
}

.boton-carrusel{
  background-color: #8b5e3c;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.boton-carrusel:hover {
  background-color: #a26e46;
}
.catalogo-deslizar{
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  background-color: #c29b79a6;
  border-radius: 15px;
  width: 80%;
}

.catalogo-deslizar::-webkit-scrollbar {
  display: none;
}

.recuadro-catalogo {
  background-color: rgba(255, 255, 255, 0.285);
  border-radius: 12px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.recuadro-catalogo:hover {
  transform: scale(1.03);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
}


.carrusel-catalogo {
  border-radius: 15px;
  width: 170px;
  height: 150px;
  object-fit: cover;
}



/* ~~~~~~~~~~ Botón de adición - catálogo ~~~~~~~~~~ */
.number-input {
  display: flex;
  align-items: center;
  background: #9e724a;
  border-radius: 12px;
  overflow: hidden;
}

.number-input button {
  background: #9e724a;
  border: none;
  color: rgb(255, 250, 250);
  width: 40px;
  height: 45px;
  font-size: 25px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.number-input button:active {
  background: #97684b;
}

.number-input input[type="number"] {
  background-color: #9e724a;
  width: 100px;
  border: none;
  font-size: 25px;
  text-align: center;
  color: #fff8f8;
}

.enlace-producto {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.enlace-producto:hover {
  transform: scale(1.03);
}

.P {
  color: #fff8f8;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}
