.admintabla {
    justify-content: center;
}

.iconos_acciones {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
    margin-right: 200px ;
}

.iconos_acciones img {
    background-color: aliceblue;
    border-radius: 20%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.iconos_acciones img:hover {
    transform: scale(1.1);
}



