
.botones-acciones {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.boton-aceptar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

.boton-aceptar:hover {
  background-color: #218838;
}

.boton-rechazar {
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

.boton-rechazar:hover {
  background-color: #c82333;
}
