/* Carrusel destacados */
.contenedor-carrusel-centralizado {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.catalogo-scroll {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  background-color: #c99e78aa;
  border-radius: 0px 0px;
  width: 100%;
}

.catalogo-scroll::-webkit-scrollbar {
  display: none;
}

.recuadro-destacados {
  background-color: rgba(114, 87, 41, 0.285);
  border-radius: 14px;
  padding: 12px;
  margin: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.recuadro-destacados:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
}


.destacado {
  border-radius: 15px;
  width: 170px;
  height: 150px;
  object-fit: cover;
}

.btn-carrusel {
  background-color: #8b5e3c;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.btn-carrusel:hover {
  background-color: #a26e46;
}

.contenedor-con-titulo {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 15px;
  overflow: hidden;
}

.P {
  color: #fff8f8;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}

.enlace-producto {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.link-producto {
  list-style: none;
  text-decoration: none;
}