.categoria-seccion {
  padding: 20px 30px;
  background-color: #b8885d4f;
  border-radius: 30px;
  border: 2px solid rgba(184, 136, 93, 0.3); /* Borde suave */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  backdrop-filter: blur(3px); /* Efecto vidrio (si quieres) */
  transition: all 0.3s ease;
}

.categoria-seccion:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

.categoria-titulo {
  display: inline-block; /* 👈 Se ajusta al tamaño del texto */
  font-size: 2.2rem;
  color: #ffffff;
  border: 3px dashed #ffffff;
  border-radius: 10px;
  border-bottom: 3px dashed #ffffff;
  padding: 10px 20px;
  margin: 20px auto;
  text-align: center;
}

.centrar-titulo {
  text-align: center;
  
}

.categoria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.producto-tarjeta {
    background-color: #b8875d;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    width: 150px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
    color: #fffdfd;
}

.producto-tarjeta:hover {
  transform: scale(1.05);
}

.producto-imagen {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.producto-info {
  margin-top: 10px;
}

.producto-nombre {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.producto-precio {
    color: #ffffff;
    margin-bottom: 10px;
}

.agregar {
    background-color: #36353450;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px #fffdfd;
    color: #fffdfd;
}

.agregar:hover {
  background-color: rgb(67, 44, 33);
}

.heart-button {
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s;
}

.heart-button.activo {
  background-color: black;
  color: white; /* Opcional: cambia el color del corazón */
}

.acomodar-corazon-agregar {
    display: flex;
    justify-content: space-between;
}


.popup-mini {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.producto-tarjeta {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.producto-tarjeta.eliminado {
  opacity: 0;
  transform: scale(0.95);
}
