
/* ~~~~~~~~~~~~~~~~ Encabezado ~~~~~~~~~~~~~~~~ */
.header {
  padding: 70px 20px;
  z-index: 1;
}

.contenido-header {
  display: flex;
  flex-direction:row ;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  top: -50px;
}
/* ~~~~~~~~~~~ Plantilla ~~~~~~~~~~~*/
/* ~~~~~~~~~~~ Header estilizado ~~~~~~~~~~~*/
.shapedividers_com-5996 {
  overflow: hidden;
  position: relative;
}

.shapedividers_com-5996::before {
  content: '';
  position: absolute;
  inset: -1px;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 140px;
  background-position: center bottom;
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35.28 2.17' preserveAspectRatio='none'><path d='M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z' fill='%23fbd8c2'/><path d='M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z' opacity='.5' fill='%23fbd8c2'/><path d='M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z' opacity='.5' fill='%23fbd8c2'/></svg>");

}

@media (min-width: 768px) {
  .shapedividers_com-5996::before {
    background-size: 100% 180px;
  }
}

@media (min-width: 1025px) {
  .shapedividers_com-5996::before {
    background-size: 100% 260px;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none'><path fill='%23fbd8c2' d='M0,160 C360,320 1080,0 1440,160 L1440,320 L0,320 Z' /></svg>");
  }
}

@media (min-width: 2100px) {
  .shapedividers_com-5996::before {
    background-size: 100% calc(2vw + 300px);
  }
}
/* ~~~~~~~~~~~ Fin estilos ~~~~~~~~~~~ */



/* Fin estilos de la plantilla */
/*~~~~~~~~~~~~~~~~ Fin encabezado ~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* ~~~~~~~~~~~~~ Barra de navegacion ~~~~~~~~~~~~~*/
.barra-navegacion{
  width: 100%; /* Ocupa todo el ancho disponible */
  position: relative; /* Permite posicionar elementos hijos de forma absoluta relativa a este */
  z-index: 5; /* Asegura que esta barra se muestre por encima de otros elementos si se superponen */
}

/* ~~~~~~~~~~~~~~~~ Menú encabezado ~~~~~~~~~~~~~~~~*/

.lista-info {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
}

.lista-info li:hover{
  color: #997b6c;
}

.lista-info li {
  text-decoration: none;
  color: #e4e1e1;
  font-weight: bold;
  font-size: 1.8rem;
  list-style: none;
}

.lista-info a{
  color: #ffffff;
}

.lista-info li:hover {
  transform: scale(1.12);
}

/* ~~~~~~~~~~~~~~~~ Fin de la barra de navegación del encabezado ~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~ Icono del carrito ~~~~~~~~~~~~~~~~ */
.icono-carrito {
  z-index: 5;
  margin-right: 20px; /*Agrega separación del borde derecho o de otros elementos*/
  margin-top: 10px; /*Agrega separación del borde superior */
}

.icono-carrito img{
  width: 50px; /*ancho*/
  height: 50px; /*alto*/
}

/*validar dos clases que no se encuentran*/
/*menu-secundario*/
/*bi bi-search*/

.estilo-logo {
  border-radius: 50%; /*redondea el logo en forma de circulo*/
  width: 100px; /*ancho del logo*/
  height: 100px; /*alto del logo*/
  box-shadow: -5px 5px 7px rgb(62, 62, 62);
}

.estilo-logo:hover{
  transform: rotate(360deg);
  transition-duration: 1.4s ;
}

.logo-container:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.estilo-logo-perfil {
  margin-right: 25px;
  border-radius: 50%; /*redondea el logo en forma de circulo*/
  width: 130px; /*ancho del logo*/
  height: auto; /*alto del logo*/
}

.estilo-logo-perfil:hover {
  transform: scale(0.5s);
}

.sin-subrayado {
  text-decoration: none;
}

.contador-carrito {
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}

.icono-carrito {
  position: relative;
  margin-left: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.icono-carrito:hover {
  filter: drop-shadow(0 10px 20px rgb(255, 255, 255));
  transform: scale(1.1); /* efecto de zoom ligero */
}

