
.ContenedorC {
  max-width: 500px;
  margin: 60px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.TituloAcceso {
  color: #8c7868;
  font-size: 35px;
  margin-bottom: 20px;
  -webkit-text-stroke: 1px #000000;
}

.Salir {
  position: absolute;
  top: 10px;
  right: 10px;
  background: linear-gradient(to right, rgb(219, 124, 162), rgb(216, 131, 121));
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 50%;
  border: none;
}

.Campo {
  display: flex;
  align-items: center;
  background-color: rgba(154, 143, 146, 0.15);
  border-radius: 10px;
  padding: 2px 10px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  border: 1px solid transparent;
}

.Campo input {
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 18px;
  flex: 1;
  padding: 15px;
}

.Icono {
  margin-right: 10px;
  color: #ba896b;
  font-size: 20px;
}

.Continuar {
  background: linear-gradient(to right, rgb(219, 124, 162), rgb(216, 131, 121));
  width: 100%;
  color: white;
  font-size: 18px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 2px 2px 6px #888;
  transition: transform 0.3s ease;
}

.Continuar:hover {
  transform: scale(1.03);
}

.invalido {
  border: 2px solid #d63c4b !important;
  background-color: #f9d8db !important;
}

.invalid {
  color: #c6414e;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .ContenedorC {
    margin: 30px 20px;
    padding: 30px 20px;
  }
}
