
.ContenedorC {
  max-width: 500px;
  margin: 60px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.TituloAcceso {
  color: #8c7868;
  font-size: 35px;
  margin-bottom: 20px;
  -webkit-text-stroke: 1px #000000;
}

.Icono {
  margin-right: 10px;
  color: #ba896b;
  font-size: 20px;
}

.Continuar {
  background:linear-gradient(to right, rgb(109, 86, 68), rgb(112, 65, 41));
  width: 100%;
  color: white;
  font-size: 18px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 2px 2px 6px #888;
  transition: transform 0.3s ease;
}

.Continuar:hover {
  transform: scale(1.03);
}

.invalido {
  border: 2px solid #d63c4b !important;
  background-color: #f9d8db !important;
}

.invalid {
  color: #c6414e;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .ContenedorC {
    margin: 30px 20px;
    padding: 30px 20px;
  }
}
