.foto-perfil {
  width: 60px;
}

.entrada-entrada {
  color: #ccc;
  

}

.recuadro-perfil {
  max-width: 500px;
  background: #765c49;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.793);
  font-family: 'Segoe UI', sans-serif;
  border: 2px solid #301a0d;
  margin-left: 500px;
  padding: 20px;  

} 

.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ccc;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tabla-perfil {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  font-size: 16px;
  background-color:#cdc0a3 ;
}

.tabla-perfil th {
  text-align: left;
  background-color: #cdc0a3;
  width: 40%;
}

.tabla-perfil td,
.tabla-perfil th {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.boton-actualizar {
  display: block;
  margin: 30px auto 0;
  padding: 10px 20px;
  background-color: #9a563f;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.boton-actualizar:hover {
  background-color: #794331;
}

