.admin-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.titulo {
    text-align: center;
    margin-bottom: 2rem;
    color: #222;
    font-size: 2rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
}

.grafico-contenedor {
    margin: 2rem 0;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.texto-info {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.filtro-descarga {
    position: fixed;
    top: 100px;
    right: 30px;
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
    border-radius: 16px;
    width: 180px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
    text-align: center;
    font-family: sans-serif;
    z-index: 1000;
}

.filtro-descarga h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.input-fecha {
    width: 100%;
    padding: 6px;
    margin: 10px 0;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    text-align: center;
    font-size: 16px;
}

.input-fecha::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.icono-descarga {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}