.product-card {
    border: 1px solid #000000;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 12px;
    width: 220px;
    background: #694a22;
    display: flex;
    flex-direction: column;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.product-name {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.product-description {
    margin-top: 8px;
    text-align: center;
}

.icons-row {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 100%;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}


/* Switch de activado/desactivado */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 50%;
}

/*
input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider:before {
    transform: translateX(16px);
}*/