/* Contenedor de la tabla centrado y con margen */
.Tabla-5c {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* Tabla principal */
.Tabla-5c table {
    width: 70%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Color del texto del encabezado */
.Tabla-5c thead th {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #b8875b; /* también podrías mover este aquí */
}


/* Estilo para el cuerpo de la tabla */
.Tabla-5c tbody tr {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
    color: #ccc;
}

.Tabla-5c tbody tr:hover {
    background-color: #979191;
    color: #000000;
}

/* Celdas: encabezado y datos */
.Tabla-5c th, .Tabla-5c td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    color: #000000;
}